<table class="table">
<tbody>
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1093/bioinformatics/btz600">Discovering protein drug targets using knowledge graph embeddings</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Vit Novacek, and Aayah Nounu.
			</span><br />
			<span class="venuetype"></span><span class="venue">Bioinformatics 36(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://academic.oup.com/bib/advance-article-abstract/doi/10.1093/bib/bbaa012/5739186">Biological applications of knowledge graph embedding models</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Aayah Nounu, and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Briefings in Bioinformatics</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1016/j.ins.2019.08.061">Predicting tissue-specific protein functions using multi-part tensor decomposition</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed.
			</span><br />
			<span class="venuetype"></span><span class="venue">Information Sciences</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://ceur-ws.org/Vol-2377/paper_1.pdf">Loss Functions in Knowledge Graph Embedding Models</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Vit Novacek, Pierre-Yves Vandenbussche, and Emir Muñoz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the Workshop on Deep Learning for Knowledge Graphs (DL4KG2019) Co-located with the 16th Extended Semantic Web Conference 2019 (ESWC 2019), Portoroz, Slovenia, June 2, 2019 (CEUR Workshop Proceedings)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-030-21348-0_16">Link Prediction Using Multi Part Embeddings</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Semantic Web - 16th International Conference, ESWC 2019, Portoro\vz, Slovenia, June 2-6, 2019, Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3297280.3297282">Drug target discovery using knowledge graph embeddings</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Aayah Nounu, and Vit Novacek.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 34th ACM/SIGAPP Symposium on Applied Computing, SAC 2019, Limassol, Cyprus, April 8-12, 2019</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1906.11738">DVP: Data Visualization Platform</a>.
			</span><br />
			<span class="authors">
				Waleed A. Yousef, Ahmed A. Abouelkahire, Omar S. Marzouk, Sameh K. Mohamed, and Mohamed N. Alaggan.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1908.07281">Unsupervised Hierarchical Grouping of Knowledge Graph Entities</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="http://arxiv.org/abs/1908.10661">Method and System for Image Analysis to Detect Cancer</a>.
			</span><br />
			<span class="authors">
				Waleed A. Yousef, Ahmed A. Abouelkahire, Deyaaeldeen Almahallawi, Omar S. Marzouk, Sameh K. Mohamed, Waleed A. Mustafa, Omar M. Osama, Ali A. Saleh, and Naglaa M. Abdelrazek.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1145/3167132.3167346">Knowledge base completion using distinct subgraph paths</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 33rd Annual ACM Symposium on Applied Computing, SAC 2018, Pau, France, April 09-13, 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://doi.org/10.1007/978-3-319-59888-8_26">Identifying Equivalent Relation Paths in Knowledge Graphs</a>.
			</span><br />
			<span class="authors">
				Sameh K. Mohamed, Emir Muñoz, Vit Novacek, and Pierre-Yves Vandenbussche.
			</span><br />
			<span class="venuetype"></span><span class="venue">Language, Data, and Knowledge - First International Conference, LDK 2017, Galway, Ireland, June 19-20, 2017, Proceedings (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
