body {
  background-image: url("images/lightgry.gif");
  background-position: 50% 50%;
  background-repeat: repeat;
}

table.maintable {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: white;
	width: 700px;
}
table.maintable th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.maintable td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}

table.codetable {
	border-width: 1px 1px 1px 1px;
	border-spacing: 1px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: collapse;
	background-color: #FFFFCC;
}
table.codetable th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	background-color: #FFFFCC;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.codetable td {
	border-width: 1px 1px 1px 1px;
	padding: 4px 4px 4px 4px;
	background-color: #FFFFCC;
	-moz-border-radius: 0px 0px 0px 0px;
}

.titletext {
	font-size: 22pt;
	color: darkred;
	font-weight: bold;
	padding: 0px 0px 5px 2px;
	line-height: 14px;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 10px;
	margin-top: 10px;
        text-decoration: none;
}

.subtitletext {
	font-size: 18pt;
	color: darkred;
	font-weight: bold;
	padding: 0px 0px 5px 2px;
	line-height: 14px;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 10px;
        text-decoration: none;
}

a.headerlink:link, a.headerlink:visited
 {
	font-size: 11pt;
	color: darkred;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 1px;
        text-decoration: underline;
}

a.contact:link, a.contact:visited
 {
	font-size: 11pt;
	color: black;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 1px;
    text-decoration: none;
}

.redtext {
	font-size: 12pt;
	color: darkred;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 1px;
        text-decoration: none;
}

.text {
	font-size: 11pt;
	color: black;
	font-family: arial, helvetica, sans-serif;
	margin-bottom: 0px;
	margin-top: 1px;
        text-decoration: none;
}

.line {
	width: 80%;
	height: 1px;
	border: 0;
	background-color: black;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
    	margin-left: auto;
    	margin-right: auto
} 
